<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>MexiSpotlight</title>
</head>
<body>
<div class="main">

    <!-- Navbar -->
    <article class="mainArticle">

     <nav>
                <ul>
                    <li><strong><i><mark>Mexi</mark>Spotlight</i></strong></li>
                </ul>

        <label for="menu" tabindex="0"> 🍔 </label>
      <input id="menu" type="checkbox" />
         <ul>
         <li><a href="#">Most rated places</a></li>
         <li><a href="#">Least rated places</a></li>
         <li><a href="#" role="button" class="outline">Contact us</a></li>
        </ul>
     </nav>



    </article>

    <!-- Banner -->
    <article class="secondArticle">
        <hgroup>
        <h1 style="text-align: center; color: black">Discover in style</h1>
        <p style="text-align: center; color: black">Explore Mexico through local ratings and reviews</p>
        </hgroup>
    </article>

   <!-- Places cards-->
    <div class="container">
    <article class="parent">
    <div class="grid">
        <div>
                <article class="card">
                    <img src="../static/Mex.jpg" alt="">
                    <h3>Mexico</h3>
                    <p>Located at Lorem ipsum.</p>
                    <button class="outline">Visit</button>
                </article>
                <article class="card">
                    <img src="../static/Mex.jpg" alt="">
                    <h3>Mexico</h3>
                    <p>Located at Lorem ipsum.</p>
                    <button class="outline">Visit</button>
                </article>
        </div>
        <div>
                <article class="card">
                    <img src="../static/Mex.jpg" alt="">
                    <h3>Mexico</h3>
                    <p>Located at Lorem ipsum.</p>
                    <button class="outline">Visit</button>
                </article>
                <article class="card">
                    <img src="../static/Mex.jpg" alt="">
                    <h3>Mexico</h3>
                    <p>Located at Lorem ipsum.</p>
                    <button class="outline">Visit</button>
                </article>
        </div>
        </div>
    </article>
        </div>

    <!-- Footer -->
    <article style="text-align: center; margin-bottom: 0">
    <strong><em>Copyright @ 2023</em></strong>
    </article>

</div>
</body>
</html>